main{
    margin-top: 30px !important;
    justify-content: center;

}
main div form{
    justify-content: center;
}
.card{
    margin: 2px;
}

.card-header{
    text-align: center;
}
.card-body{
    text-align: center;
    
}

.text-title{
    text-align: center;
}

.form-style{
    justify-content: center;
}

.fila3{
    padding-top: 20px;
}
.fila4{
    padding-top: 20px;
}

.btn-success{
    width: 100% !important;
    background-color: #97c93e !important;
    border: #97c93e solid;
}