/* BODY*/
.body{
    font-family: sans-serif;
    padding: 90px 20px 0;
   ;
}
/*TARJETAS*/
.targetContainer col{
   align-items : center;
}

/*FORMULARIO*/
.container{
    margin-left: 1%;
    align-content: center;
    padding-left: 20%;
}
.col-3{
    margin-left: 25px;

}
.btn-success{
    margin-top: 25px;
    background-color: #96c93e !important;
    border: none;
}
/* FOOTER */

/*.footer ul li{
    display:flex;
    justify-content:space-between ;
    background-color: ;
    background: linear-gradient(to right,rgba(28,54,67,255), rgba(31,82,113,255));
    color: white;
    list-style: none;
    align-items: center;
}*/

/* BOTONES*/

.btn-info{
    color:white;
}
