.footer ul{
    background:linear-gradient(to right,rgba(28,54,67,255), rgba(31,82,113,255));
    font-size: 20px;
    list-style: none;
    color: white;
    text-align: center;
    height: 70px;
    width: 100%;
    display:flex;
    justify-content:space-between !important;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 0;
    padding-right: 150px;
    padding-left: 150px;}

.copyright{
    background: rgba(20,50,67,255);
    height: 40px;
    color: white;
    margin-bottom: 0;
    font-size: medium;
    padding-top: 10px;
}