
/* ESTILOS GLOBALES*/
html {
    margin: 0;
    height: 100vh;
}
* {
    margin:0 ;      /* Configura el margin a cero ya que el que viene por defecto del navegador no nos sirve */
    padding: 0 ;
    box-sizing: border-box;
}
/*HEADER*/

header{
    background-color: #343a40;
    height: 100px;
}

/* NAV */
.nav{
    align-items: center;
}
/*LOGO*/
.col-link-log{
    text-align: center;
}
.logo{
    height: 70px;
    padding-left: 80px;
}
.col-link-nav a{
    color: #969593;
    text-decoration: none;
    text-align: center;
    font-size: 16.5px;
}


/*TÍTULO*/
.col-link-title a{
    text-decoration: none;
    padding-left: 80px;
}
.title{
    color: white;
    margin-bottom: 0;
}



/*MENU*/
.col-link-nav {
    justify-content: end;
}
.buy a{
    color: #6cb83e;
}
.buy a:hover{
    color: orange;
}
